<div class="container" ng-controller="TemperatureChartCtrl">
    <div class="row row-content">
        <div ng-if="!showData">
            <h3>{{message}}</h3>
        </div>
        <div class="row>">
            <div class="col-xs-9 col-sm-6">
                <form id="selectForm" name="selectForm">
                    <div class="input-group">
                        <select class="form-control" ng-model="selection" ng-change="loadTemperatures()">
                            <option value="last 24 hours">last 24 hours</option>
                            <option value="specific date">specific date</option>
                        </select>
                        <div class="form-control" ng-if="selection=='specific date'">
                            <!--                             <date-picker ng-model="queryDate" ng-init="tempInit()" ng-change="loadTemperatures()">
                            </date-picker> -->
                            <datepicker>
                                <input ng-model="queryDate" ng-init="tempInit()" type="text" date-format="yyyy-MM-dd" ng-change="loadTemperatures()">
                            </datepicker>
                        </div>
                        <!-- <div>{{queryDate}}</div> -->
                </form>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row row-content" ng-if="showData">
                    <div google-chart chart="chartObject1" style="height:600px; width:100%;"></div>
                </div>
            </div>
        </div>
    </div>
