<ion-view view-title="Home">
    <ion-content class="grid-basic-page padding">
        <h3>Main Geyser</h3>
        <div class="row">
            <div class="col col-50">Temperature:</div>
            <div class="col col-50">{{recording.temperature.toFixed(1)}} °C</div>
        </div>
        <div class="row">
            <div class="col col-50">Temperature target:</div>
            <div class="col col-50">{{recording.temperature_target.toFixed(1)}} °C</div>
        </div>
        <div class="row">
            <div class="col col-50">Heating state:</div>
            <div class="col col-50">
                <label class="toggle">
                    <input type="checkbox"  ng-model="recording.heating_state" disabled>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">Heating allowed:</div>
            <div class="col col-50">
                <label class="toggle">
                    <input type="checkbox" ng-model="setting.heating_allowed">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
